*{
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color: #000;
	background-image: url("../img/background.png");
	background-repeat: repeat-x;
}
form{
	width: 50%;
	margin: auto;
	height: 500px;
}
input[type=text]{
	width: 100%;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 0px;
	padding: 5px;
}
input[type=file]{
	display: none;
}
textarea{
	width: 100%;
	height: 300px;
	resize: none;
	padding: 5px;
	border: 0px;
	font-size: 15px;
	margin-bottom: 10px;
}
img{
	float: left;
	width: 100%;
	height: auto;
	display: block;
}
.notifier{
	width: 100%;
	height: 40px;
	background-color: green;
	z-index: 1000;
	position: fixed;
	margin-top: 0px;
}
.container{
	width: 60%;
	height: auto;
	margin: auto;
}
.navbar{
	width: 100%;
	height: 30px;
	background-color: #171C16;
}
.form-container{
	width: 100%;
	height: 500px;
	background-color: #171C16;
	margin-top: 10px;
}
.spacer{
	width: 100%;
	height: 20px;
	border-bottom: 2px solid #fff;
}
.c-input{
	width: 100%;
	height: auto;
	background-color: white;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	cursor: pointer;
	margin-top: 10px;
}
.submit{
	width: 40%;
	height: auto;
	padding: 5px;
	float: right;
	font-size: 20px;
	text-align: center;
	background-color: #347031;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}
.post-content{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #171C16;
	overflow: auto;
}
.up-bar{
	width: 100%;
	height: 20px;
}
.img-container{
	width: 30%;
	float: left;
	height: auto;
	padding-bottom: 10px;
	padding: 10px;
}
.content-p{
	display: inline-block;
	width: 70%;
	float: right;
	padding-top: 10px;
}
.p-title{
	color: #347031;
}